PORT=3000

# Configuración PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_USER=tu_usuario_postgres
PG_PASSWORD=tu_contraseña_postgres
PG_DATABASE=nombre_de_tu_base_datos

# Configuracion MongoDB
MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/?appName=<nombreApp>

